@model CatalogDomain.Model.Movie

@{
    ViewBag.Title = "Create Movie";
}

<h1>Create</h1>
<h4>Movie</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" min="1900" max="@DateTime.Now.Year" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieLength" class="control-label"></label>
                <input asp-for="MovieLength" class="form-control" min="1" max="1000000" />
                <span asp-validation-for="MovieLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

            <!-- GENRES-->
            <div class="form-group">
                <label>Genres</label>
                <select id="genreSelect" name="selectedGenres" multiple="multiple" class="form-control chosen-select">
                    @foreach (var genre in (IEnumerable<SelectListItem>)ViewData["Genres"])
                    {
                        <option value="@genre.Value">@genre.Text</option>
                    }
                </select>
            </div>

            <!-- Actors-->
            <div class="form-group">
                <label>Actors</label>
                <select id="actorSelect" name="selectedActors" multiple="multiple" class="form-control chosen-select">
                    @foreach (var actor in (IEnumerable<SelectListItem>)ViewData["Actors"])
                    {
                        <option value="@actor.Value">@actor.Text</option>
                    }
                </select>
            </div>

            <!-- Directors-->
            <div class="form-group">
                <label>Directors</label>
                <select id="directorSelect" name="selectedDirectors" multiple="multiple" class="form-control chosen-select">
                    @foreach (var director in (IEnumerable<SelectListItem>)ViewData["Directors"])
                    {
                        <option value="@director.Value">@director.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({
                no_results_text: "No data found!",
                width: "100%",
                allow_single_deselect: true,
                placeholder_text_multiple: "---Choose---"
            });
        });
    </script>
}